.investments {
  padding: 18px;
  width: 100%;
}

.l3 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 2px;
}

.heading-1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 18px;
}

.cards-scroll-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-padding: 16px;
  
  &::-webkit-scrollbar {
    display: none;
  }
}
  
.cards-inner-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  padding: 0 16px;
  width: max-content;
}

@media (min-width: 768px) {
  .card-item {
    flex: 0 0 25%;
  }
}

@media (min-width: 1024px) {
  .card-item {
    flex: 0 0 20%;
  }
}

.instrument-item {
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --padding-start: 0;
  --padding-end: 18px;
  width: 100%;
}

.right-content {
  display: flex;
  align-items: center;
}

.price {
  margin-right: 10px;
  text-align: right;
}

.change {
  text-align: right;
  margin-left: 30px;
}

.heading-b4 {
  font-size: 12px;
  color: #888;
}

.margin-left-6 {
  margin-left: 6px;
}

.margin-top-18 {
  margin-top: 18px;
}

:host(.small-chip) ion-chip.type-chip {
  font-size: 9px;
  height: 18px;
  padding: 0 4px;
}