<ion-card [class.card-compact]="layout === 'compact'" [class.card-full]="layout === 'full'">
  <div class="banner">
    <div><img alt="logo" src={{logo}} /></div>
    <div class="type">
    <app-type *ngIf="type" [type]="type"></app-type>
    </div>
  </div>
  <ion-card-content>
    <div class="symbol">{{symbol}}</div>
    <div class="name">{{fullname}}</div>
    <div class="price">{{price}}</div>
    <ng-container *ngTemplateOutlet="additionalContent || null"></ng-container>
  </ion-card-content>
</ion-card>