ion-card {
  margin: 0;
  box-shadow: none;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

ion-card-content {
  padding: 0;
}

.card-compact {
  min-width: 113px;
  max-width: 202px;
  height: 100%;
}

.card-full {
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8px;
}

.banner img {
  height: 20px;
  width: auto;
}

.symbol {
  font-weight: 700;
  font-size: 12px;
  color: #555;
  text-transform: uppercase;
}

.name {
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 4px;
  color: #555;
}

.price {
  font-weight: 700;
  font-size: 16px;
  margin-top: 8px;
}

:host {
  display: block;
  width: 100%;
}