.instrument-container {
    padding: 0; /* or whatever spacing you want */
    width: 100%;     /* ensure it stretches full width */
    box-sizing: border-box;
  
    ion-grid, ion-row {
      width: 100% !important; /* force full width */
    }
  
  .full-width-row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
  }
}

.instrument-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.instrument-name {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 2px;
}

.instrument-shares, .instrument-symbol {
  font-size: 12px;
  color: #888;
}

.right-content {
  display: flex;
  align-items: center;
}

.price {
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  margin-right: 10px;
  text-align: right;
}

.percent-change {
  font-size: 13px;
  font-weight: 700;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  padding: 2px 6px;
  min-width: 60px;
  display: inline-block;
  margin-left: 2px;
  
  &.positive {
    background-color: rgb(33,182,146);
  }
  
  &.negative {
    background-color: #F44336;
  }
}

:host {
  display: block;
  width: 100%;
}