<div class="instrument-container">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <!-- Left column -->
      <ion-col size="6" size-md="6">
        <div class="instrument-info">
          <div class="instrument-name">{{ name || symbol }}</div>
          <div class="instrument-shares" *ngIf="totalShares">{{ totalShares }}</div>
          <div class="instrument-symbol" *ngIf="name && symbol">{{ symbol }}</div>
        </div>
      </ion-col>

      <!-- Price column -->
      <ion-col size="3" size-md="3" class="ion-text-right">
        <div class="right-content">
          <div class="price">{{ price }}</div>
        </div>
      </ion-col>

      <!-- change column -->
      <ion-col size="3" size-md="3" class="ion-text-right">
        <div class="right-content">
          <div class="percent-change" [ngClass]="{'positive': isPositive, 'negative': !isPositive}">
            {{ isPositive ? '+' : '' }}{{ change }}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>