<ng-template #additionalContent>
  <hr class="divider" />
  <div class="description-row">
    <div class="description-item">
      <ion-icon name="circleDollar"></ion-icon>
      <span>$36.9m</span>
    </div>
    <div class="description-item">
      <ion-icon name="target"></ion-icon>
      <span>$1.2b</span>
    </div>
    <div class="description-item">
      <ion-icon name="squareDollar"></ion-icon>
      <span>$30–32</span>
    </div>
  </div>
</ng-template>

<ion-header class="margin-top-10">
  <ion-toolbar>
    <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="discover-container">
    <ion-item lines="none">
      <ion-label>
        <div class="sh2">Recently searched</div>
      </ion-label>
    </ion-item>
    <ion-list>
      @for (result of results; track result) {
      <ion-item lines="none">
        <app-search-instrument
          [name]="result.name"
          [symbol]="result.symbol"
          [price]="result.price"
          [description]="'description needs to be added'"/>
      </ion-item>
      }
    </ion-list>
    <ion-item lines="none">
      <ion-label>
        <div class="sh2">Top 3 volume stock</div>
      </ion-label>
    </ion-item>

      <div class="card-item" *ngFor="let card of cards">
        <app-card 
          [price]="card.price" 
          [symbol]="card.symbol" 
          [logo]="card.logo" 
          [fullname]="card.fullname" 
          [type]="card.type"
          layout="full"
          [additionalContent]="additionalContent">
        </app-card>
      </div>
  </div>
</ion-content>



