<div class="instrument-container">
    <ion-grid>
      <ion-row class="ion-align-items-center">

        <!-- Left column -->
        <ion-col size="6" size-md="6">
          <div class="instrument-info">
            <div class="instrument-name">{{  symbol }}</div>
            <div class="instrument-shares">{{ description }}</div>
          </div>
        </ion-col>
  
        <!-- Right column -->
        <ion-col size="6" size-md="6" class="ion-text-right"> 
            <div class="price">{{ price }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
